<% if @current_user %>

<h1>Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
</ul>

<p>
  <a href="/places/new">New place</a>
</p>
<% end %>
<% else %>
  <h6>You must first <a href="/login">login</a> to post</h6>
<% end %>